<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>web15 blog</title>
    </head>
    <body>
        <h1 class="gua-center">web15 blog</h1>
        <div class="gua-center">
            <a href="{{ url_for('blog.new') }}" class="pure-button pure-button-primary">新建博客</a>
        </div>
        <table class="gua-center-block pure-table pure-table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Updated Time</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="id-blog-list" >

            </tbody>
        </table>
        <!-- 这是我们处理静态文件的套路 -->
        <!-- gua.js 放了公共的函数 -->
        <!-- 按顺序引入 2 个 js 文件, 后面的 js 文件就能使用前面的文件中的函数了 -->
        <link href="https://cdn.bootcss.com/pure/1.0.0/pure-min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='gua.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='gua.js') }}"></script>
        <script src="{{ url_for('static', filename='blog_index.js') }}"></script>
    </body>
</html>
